# Heroku
HEROKU_USERNAME=
HEROKU_PASSWORD=
# cloudControl
CC_USERNAME=
CC_PASSWORD=
# dotCloud
DC_USERNAME=
DC_PASSWORD=
# OpenShift
OS_USERNAME=
OS_PASSWORD=
OS_DOMAIN=
# Amazon Elastic Beanstalk
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
# EngineYard
EY_USERNAME=
EY_PASSWORD=
EY_ENVIRONMENT=
# Pivotal Web Services
PWS_USERNAME=
PWS_PASSWORD=
PWS_SPACE=
# IBM Bluemix
BM_USERNAME=
BM_PASSWORD=
BM_SPACE=
